.weather {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__bg {
        position: fixed;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }

    &__title {
        @include fluid-type(320px, 1920px, 36px, 60px);
        letter-spacing: 1px;
        margin: 0 0 40px 0;
    }
}