.weather {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__bg {
        position: fixed;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }

    &__title {
        @include fluid-type(320px, 1920px, 36px, 60px);
        letter-spacing: 1px;
        margin: 0 0 40px 0;
    }

    &__form {
        max-width: 600px;
        width: 100%;
        margin: 0 0 40px 0;
    }

    &__city {
        display: block;
        width: 100%;
        background-color: #333333;
        color: #ffffff;
        border: 1px solid $inputBorderColor;
        padding: 7px 20px;
        border-radius: 30px;
        outline: none;

        &--error {
            border-color: $inputBorderColorError;
        }
    }

    &__location {

        color: $titleColor;
        @include fluid-type(320px, 1920px, 36px, 60px);
        font-family: $headerFontFamily;
        font-size: 2em;
        letter-spacing: 2px;
        text-shadow: 1px 1px 1px #000;
        margin: 0 0 20px 0;
    }

    &__info {
        padding: 20px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    &__temp {
        display: flex;
        align-items: flex-start;
        gap: 5px;
    }

    &__num {
        font-size: 3em;

    }

    &__unit {
        font-size: 1.2em;

    }

    &__deg {
        font-size: 1.2em;

    }

    &__text {
        margin: 0 0 6px 0;
        font-size: 1.2em;

        &:last-of-type {
            margin: 0;
        }
    }

}